body {
    background-color: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
}

.title {
    color: #1ED760;
    font-size: 2.5rem;
}

img{
    width: 150px;
}

.info-section h2{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.info-section p{
    color: #B3B3B3;
}

.info-section li{
    color: #B3B3B3;
}

.info-section ul{
    list-style-type: none;
}